:root {
    --decor-logo-color: #4D5AE5;
    --nav-color: #2E2F42;
    --primary-text-color: #434455;
    --secondary-color: #FFFFFF;
    --bgc-button: #4D5AE5;
    --description-color: #F4F4FD;
    --active-color: #404BBF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}

/* =====================  Common components  ================ */

.button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-color);
    background-color: var(--bgc-button);
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--active-color);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--nav-color);
}

.subtitle {
    font-size: 16px;
    line-height: 1.5;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--nav-color);

}

/* ======================  Header ===========================*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--nav-color)
}

.decor {
    color: var(--decor-logo-color);
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--nav-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--active-color)
}

.contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-color)
}

/* ======================  Hero ===================== */

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}


/* =======================  Advantages  ===================== */

/* =======================  Work  ========================== */

/* ======================  Footer  ============================= */

.footer-description {
    color: var(--description-color)
}